<div class="favorite-books">
  <h2>Your Favorite Books</h2>
  <ul>
    {{#each favoriteBooks.favoriteBooksList as |favoritedBook|}}
      <li>{{favoritedBook.title}} By {{favoritedBook.author}}</li>
    {{/each}}
  </ul>
</div>
