body {
  font-family: serif;
  color: #000000;
}

.page-header {
  text-align: center;
}

/*---------------------------Navbar Styling---------------------------*/
.navbar {
  text-align: center;
}

/*---------------------------Index Styling---------------------------*/
.index-tagline {
  text-align: center;
  margin-top: 50px;
}

.index-books-list {
  text-align: center;
  margin-top: 75px;
}

/*---------------------------Admin Styling---------------------------*/
.admin-content {
  margin-top: 50px;
}

.admin-content .btn-primary {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 15pt;
}

.admin-books-list {
  text-align: center;
  margin-top: 75px;
}

/*---------------------------Form Styling---------------------------*/
form {
  margin-left: 75px;
  margin-right: 75px;
}

label {
  font-size: 15pt;
}

input, textarea {
  margin-bottom: 25px;
}

.btn-success {
  font-size: 15pt;
  margin-top: 15px;
}
