body {
  font-family: serif;
  color: #000000;
}

/*---------------------------Navbar Styling---------------------------*/
.navbar {
  text-align: center;
}

/*---------------------------Index Styling---------------------------*/
.page-header {
  text-align: center;
}

.index-tagline {
  text-align: center;
  margin-top: 50px;
}
