{{book-detail book=model}}

<div class="book-reviews">
  <h2 class="tag-line">Reviews</h2>
  {{#each model.reviews as |review|}}
    {{review-tile model=review}}
    {{update-review updateReview="updateReview" review=review}}
  {{/each}}
</div>

{{new-review saveNewReview="saveNewReview" book=model}}
