<h1 class="page-header">Epicodus Book Review</h1>
<h3 class="tag-line">Welcome to the best book review site on the Internet!</h3>

<div class="index-books-list">
  {{#each model as |book|}}
    <div class="index-each-book">
      {{book-tile book=book}}
    </div>
  {{/each}}
</div>
